[submodule "HW1"]
	path = HW1
	url = https://github.com/calvincodes/ID3-Decision-Tree-Learner.git
[submodule "HW2"]
	path = HW2
	url = https://github.com/calvincodes/ID3-Decision-Tree-Learner.git
[submodule "HW3"]
	path = HW3
	url = https://github.com/calvincodes/Artificial-Neural-Network.git
[submodule "HW4"]
	path = HW4
	url = https://github.com/calvincodes/Bayes-Classifier.git
